.form-container {
    padding: 20px;
  }
  
  .form-title {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Poppins', sans-serif;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    margin-bottom: 5px;
    display: block;
    color: #3b3b3b;
    font-family: 'Poppins', sans-serif;
  }
  
  .form-input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
    background-color: white;
    color: black;
    transition: border-color 0.3s;
    font-family: 'Poppins', sans-serif;
  }
  
  .form-input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .form-button {
    padding: 10px;
    font-size: 1em;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    font-family: 'Poppins', sans-serif;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }
  
  .medicine-group, .test-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .dose-group {
    display: flex;
    gap: 10px;
    margin-left: 10px;
  }
  
  .delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .delete-button:hover {
    background-color: #ff1a1a;
  }